div.d-flex.justify-content-center
  = button_to user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false }, class: "login-cta" do
    = image_tag asset_path("btn_google_signin_dark.png"), alt: "Login with Google Omniauth", class: "img-fluid"
